{% extends "./index.html" %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p class='user'>Hola {{request.user}} tienes {{count}} tareas incompleta{{count|pluralize:"s"}}</p>
        <br>
        <a  class='button' href="{% url "todo:logout" %}">Cerrar Sesion</a>
    {% else %}
        <a  href="{% url "todo:login" %}">Iniciar Sesion</a>
    {% endif %}
    

    <div class="searchs">
        
        <form action="" method="GET">
            <input class='search' type="text" name="search" value={{search}}>
            <input class='button' type="submit" value='Buscar'>
        </form>
        <a href="{% url "todo:task_create" %}">&#x2b;</a>
    </div>
    
    
    
    <h1>LISTA DE TAREAS</h1>
    

    <div>
        {% for task in tasks %}
            <div class='header'>
                {% if task.state %}
                    <div class='titles'>
                        <div class="complete"></div>
                        <s><a href="{% url "todo:task_update" task.id %}">{{task.title}}</a></s>
                        
                    </div>
                    <a href="{% url "todo:task_delete" task.id %}">&#215;</a>
                {% else %}
                    <div class="titles">
                        <div class="incomplete"></div>
                        <a href="{% url "todo:task_update" task.id %}">{{task.title}}</a>
                        
                    </div>
                    <a href="{% url "todo:task_delete" task.id %}">&#215;</a>

                    
                {% endif %}
            </div>
            {%empty%}
            <h3>No hay Tareas</h3>
        {% endfor %}
    </div>
    

{% endblock content %}

