{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url "logout" %}">Cerrar Sesion</a>
{% else %}
    <a href="{% url "login" %}">Iniciar Sesion</a>
{% endif %}

<h1>LISTA DE TAREA</h1>
<a href="{% url "task_create" %}">Crear Tarea</a>
<form action="" method="GET">
    <input type="text" name="search" value={{search}}>
    <input type="submit" value='Buscar'>
</form>
<table>
    <tr>
        <th>TAREA</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url "task" task.id %}">Ver</a></td>
            <td><a href="{% url "task_update" task.id %}">Editar</a></td>
            <td><a href="{% url "task_delete" task.id %}">Eliminar</a></td>
        </tr>
        {%empty%}
            <h3>No hay tareas</h3>
    {% endfor %}
</table>