{% extends "./index.html" %}

{% block content %}
<h3 class='m-4'>Listado de estudiantes</h3>
        <div class="row">
            <div class="col-12">
                {% if students %}
                    <div class="card text-white bg-primary mb-4 me-4 mb-4">
                        <div class="card-header">
                            <i class="fa-solid fa-list fa-lg"></i> Listadod de Estudiantes
                        </div>
                        <div class="card-body">
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table table-hover ">
                                    <thead class="table-dark">
                                    <tr>
                                        <th scope="col">No. de Estudiante</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Correo Electronico</th>
                                        <th scope="col">Curso</th>
                                        <th scope="col">GPA</th>
                                        <th scope="col">Fecha de Creación</th>
                                        <th cope="col">Acciones</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in students %}
                                        <tr class="table-active">
                                            <th scope="row">{{student.student_number}}</th>
                                            <td>{{student.first_name}}</td>
                                            <td>{{student.last_name}}</td>
                                            <td>{{student.email}}</td>
                                            <td>{{student.curse}}</td>
                                            <td>{{student.gpa}}</td>
                                            <td>{{student.create_date}}</td>
                                            <td>
                                                <button type="button" class="btn btn-info me-1" href={% url "view_student" student.id %} data-bs-toggle='modal' data-bs-target='#myModal{{student.id}}'><i class="fa-solid fa-circle-info"></i></button>
                                                <div class="modal" id='myModal{{student.id}}' tabindex='-1' aria-labelledby='myModalLabel1' aria-hidden='true'>
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">{{student.first_name}} {{student.last_name}}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul class="list-unstyled">
                                                        <li>Número de estudiante: <strong>{{student.student_number}}</strong> </li>
                                                        <li>Correo Electronico: <strong>{{student.email}}</strong> </li>
                                                        <li>Curso: <strong>{{student.curse}}</strong></li>
                                                        <li>GPA: <strong>{{student.gpa}}</strong></li>
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </p>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <h4 class="alert-heading">Warning!</h4>
                        <p class="mb-0">No hay estudiantes</p>
                    </div>
                {% endif %}
                
            </div>
        </div>
{% endblock %}

