{% extends "chat/index.html" %}
{% block content %}


<div class='col-md-6 offset-md-3 mb-3'>
    <h1><center>{{room.name}}</center></h1>
</div>
<div class='col-md-4 offset-md-4 mb-3'>
    <div class='chat-messages' id='chat-messages'>
        {% for message in messages %}
            <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
                <div class="card-header">{{message.user.username}}</div>
                <div class="card-body text-white bg-dark">
                    <p class="card-text">{{message.content}}</p>
                </div>
            </div>
            
        
        {% endfor %}
    </div>
    
     <form action="" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" id="chat-message-input" placeholder="escribe el mensaje">
        <div class="navbar ">
            <div class="container-fluid flex-row justify-content-between">
                <button type="submit" class="btn btn-success" id='chat-message-submit'>Enviar</button>
                <a href="{% url "room:rooms" %}" class='btn btn-secondary'>Cancelar</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}

{{room.slug|json_script:'room_slug' }}
{{request.user.username|json_script:'json_username'}}
<script>
    const roomName = JSON.parse(document.getElementById('room_slug').textContent);
    const userName = JSON.parse(document.getElementById('json_username').textContent);
    const chatSocket = new WebSocket('ws://'+ window.location.host+'/ws/'+roomName+'/');

    chatSocket.onmessage = function(e){
        console.log('onmessage');
        const data = JSON.parse(e.data);
        if(data.message){
            d =data.message
            console.log(d)
            let html = '<div class="card text-white bg-success mb-3" style="max-width: 35rem;">';
                html += '<div class="card-header">'+data.username+'</div>';
                html += '<div class="card-body text-white bg-dark">';
                html += '<p class="card-text">'+data.message+'</p>';
                html += '</div>';
                html += '</div>';
                
            document.querySelector('#chat-messages').innerHTML += html;
            scrollToBottom();
        }else{
            alert('mensaje vacio');
        }
    }

    chatSocket.onerror = function(e){
        console.log('web', e);
    }

    chatSocket.onclose = function(e){
        console.log('onclose');
    }

    document.querySelector('#chat-message-submit').onclick = function(e){
        e.preventDefault();
        const messageInput = document.querySelector('#chat-message-input');
        const message = messageInput.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }))
        messageInput.value = '';
        return false;
    }


    function scrollToBottom(){
        const obj = document.querySelector('#chat-messages');
        obj.scrollTop = obj.scollHeight;
    }
    scrollToBottom();
</script>


{% endblock %}




